@model P2E.Main.UI.Web.Models.SSO.ParceiroNegocio.ParceiroNegocioViewModel
@{
    ViewData["Title"] = "Novo Parceiro de Negócio";
    ViewData["PageName"] = "parceiro_negocio";
    ViewData["Category1"] = "Parceiro de Negócio";

    //Alert info
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];
}

<div class="row">
    <div class="col-xl-12">

        @if (!string.IsNullOrEmpty(type))
        {
            <partial name="_DisplayMessagePartial" />
        }

        <div class="panel">
            <div class="panel-hdr">
                <h1>
                    Parceiro de Negócio
                </h1>
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form asp-action="Save" method="post">
                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-8">
                                    <input type="hidden" asp-for="CD_PAR" />
                                    <div class="form-group">
                                        <label class="form-label" asp-for="TXT_RZSOC">Razão  Social</label>
                                        <input type="text" asp-for="TXT_RZSOC" placeholder="Razão Social" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="CNPJ">CNPJ</label>
                                        <input type="text" asp-for="CNPJ" placeholder="Valor" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group mb-0">
                            <div class="panel">
                                <div class="panel-hdr bg-gray-100">
                                    <h3>
                                        Associação : Parceiro Negócio x Módulo x Serviço
                                    </h3>
                                </div>
                                <div class="panel-container show">
                                    <div class="panel-content">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="form-group">
                                                    <label class="form-label">Móodulo</label>
                                                    <select asp-items="@(new SelectList(@Model.Modulos,"CD_MOD", "TX_DSC"))" class="form-control"  id="comboModulo">
                                                        <option disabled selected>--- Selecione um módulo ---</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="form-label">Serviço</label>
                                                    <select asp-items="@(new SelectList(@Model.Servicos,"CD_SRV", "TXT_DEC"))" class="form-control"  id="comboServico">
                                                        <option disabled selected>--- Selecione um serviço ---</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-1">
                                                <a href="javascript:void(0);" class="btn btn-success btn-lg btn-icon hover-effect-dot btn-add-parceiro-servico-usuario">
                                                    <i class="fal fa-download"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover m-0" id="tabela_servico_modulo">
                                    <thead class="thead-themed">
                                        <tr>
                                            <th>Módulo</th>
                                            <th>Serviço</th>
                                            <th width="20"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*@foreach (var item in Model.Modulos.Items)
                                            {
                                                <tr>
                                                    <td>@item.CD_PAR</td>
                                                    <td>@item.TXT_RZSOC</td>
                                                    <td>@item.CNPJ</td>
                                                    <td class="text-center">
                                                        <i data-id="@item.CD_PAR"
                                                           data-controller="ParceiroNegocio"
                                                           data-action="Delete"
                                                           data-body-message="Deseja excluir este registro?"
                                                           style="font-weight:bold;cursor:pointer" class="delete fal fa-trash-alt text-danger">

                                                        </i>
                                                    </td>
                                                    <td class="text-center"><a asp-action="Edit" asp-route-id="@item.CD_PAR"><i style="font-weight:bold;cursor:pointer" class="fal fa-edit text-success"></i></a></td>
                                                </tr>
                                            }*@
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-12">
                                    <br />
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/ParceiroNegocio/TabelaParceiroNegocioServicoModulo.js"></script>
    }