@model P2E.Main.UI.Web.Models.SSO.ParceiroNegocio.ParceiroNegocioViewModel
@{
    ViewData["Title"] = "Cadastro";
    ViewData["PageName"] = "parceiro_negocio";
    ViewData["Category1"] = "Parceiro de Negócio";

    //Alert info
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];
    var nome_rotina =  "Parceiro de Negócio";


}

<div class="row">
    <div class="col-xl-12">

        @if (!string.IsNullOrEmpty(type))
        {
            <partial name="_DisplayMessagePartial" />
        }

        <div class="panel">
            <div class="panel-hdr">
                @if (Model.CD_PAR > 0)
                {
                    <h1>
                        Edição de Parceiro de Negócio
                    </h1>
                }
                else
                {
                    <h1>
                        Cadastro de Parceiro de Negócio
                    </h1>
                }
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form id="form" asp-action="Save" method="post">

                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-8">
                                    <input type="hidden" asp-for="CD_PAR" />
                                    <div class="form-group">
                                        <label class="form-label" asp-for="TXT_RZSOC">Razão  Social</label>
                                        <input type="text" maxlength="100" asp-for="TXT_RZSOC" placeholder="Razão Social" class="form-control">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label class="form-label" asp-for="CNPJ">CNPJ</label>
                                        <input type="text" maxlength="21" asp-for="CNPJ" placeholder="Valor" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group mb-0">
                            <div class="panel">
                                <div class="panel-hdr bg-gray-100">
                                    <h3>
                                        Associação : Parceiro Negócio x Módulo x Serviço
                                    </h3>
                                </div>
                                <div class="panel-container show">
                                    <div class="panel-content">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="form-group">
                                                    <label class="form-label">Módulo</label>
                                                    <select asp-items="@(new SelectList(@Model.Modulos,"CD_MOD", "TX_DSC"))" class="form-control" id="comboModulo">
                                                        <option disabled selected>--- Selecione um módulo ---</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="form-label">Serviço</label>
                                                    <select asp-items="@(new SelectList(@Model.Servicos,"CD_SRV", "TXT_DEC"))" class="form-control" id="comboServico">
                                                        <option disabled selected>--- Selecione um serviço ---</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-1">
                                                <a href="javascript:void(0);" class="btn btn-success btn-lg btn-icon hover-effect-dot btn-add-parceiro-servico-usuario">
                                                    <i class="fal fa-download"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <div class="table-responsive">
                                <table id="tabela_servico_modulo" class="table table-bordered table-hover m-0">
                                    <thead class="thead-themed">
                                        <tr>
                                            <th>Módulo</th>
                                            <th>Serviço</th>
                                            <th width="20"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var modulo_servico in Model.ParceiroNegocioServicoModulo)
                                        {
                                            <tr data-cdmod="@modulo_servico.Modulo.CD_MOD" data-cdsrv="@modulo_servico.Servico.CD_SRV">
                                                <td>@modulo_servico.Modulo.TX_DSC</td>
                                                <td>@modulo_servico.Servico.TXT_DEC</td>
                                                <td class="text-center">
                                                    <a data-mod="@modulo_servico.CD_MOD" data-srv="@modulo_servico.CD_SRV">
                                                        <i style="font-weight:bold;cursor:pointer" class="fal fa-minus-circle text-danger bt-excluir"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-12">
                                    <br />
                                    <button data-body-message="Confirma as alterações?"
                                            id="btnSalvar"
                                            style="font-weight:normal;cursor:pointer" class="save btn btn-success">
                                        Salvar
                                    </button>

                                    @*<button type="button" class="btn btn-primary" value="Cancel" onclick="history.back();">Cancelar</button>*@

                                    <button data-controller="ParceiroNegocio" data-id="@Model.CD_PAR"
                                            data-action="Cancel"
                                            data-body-message="Deseja cancelar as alterações?"
                                            style="font-weight:normal;cursor:pointer" class=" delete btn btn-primary">
                                        Cancelar
                                    </button>

                                    @if (Model.CD_PAR > 0)
                                    {
                                        @if (P2E.Main.UI.Web.Extensions.Util.Permissoes.VerificarPermissao(nome_rotina, "Deletar", User))
                                        {
                                            <button data-id="@Model.CD_PAR"
                                                    data-controller="ParceiroNegocio"
                                                    data-action="Delete"
                                                    data-body-message="Deseja excluir este Parceiro?"
                                                    style="font-weight:normal;cursor:pointer" class="delete btn btn-danger fa-pull-right">
                                                Deletar
                                            </button>
                                            }
                                        }
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/ParceiroNegocio/TabelaParceiroNegocioServicoModulo.js"></script>
    <script src="~/js/ParceiroNegocio/ParceiroNegocioServicoModulo.js"></script>
}