@model P2E.Main.UI.Web.Models.SSO.Usuario.UsuarioViewModel
@using P2E.Shared.Enum
@{
    ViewData["Title"] = "Cadastro de Usuário";
    ViewData["PageName"] = "usuario_cadastro";
    ViewData["Category1"] = "Usuário";

    //Alert info
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];
}

<div class="row">
    <div class="col-xl-12">

        @if (!string.IsNullOrEmpty(type))
        {
            <div class="alert alert-@type alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>@title</strong> @body
            </div>
        }

        <div class="panel">
            <div class="panel-hdr">
                <h1>
                    Cadastro de Usuário
                </h1>
            </div>
            <div class="panel-container show">
                <form id="form" asp-action="Save" method="post">
                    <div class="panel-content" style="border-bottom: 1px solid rgba(0, 0, 0, 0.07);">

                        <input type="hidden" asp-for="CD_USR" />
                        <div class="form-group">
                            <label class="form-label" asp-for="TX_NOME">Nome</label>
                            <input type="text" asp-for="TX_NOME" placeholder="Nome" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="TX_LOGIN">Login</label>
                            <input type="text" asp-for="TX_LOGIN" placeholder="Login" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="TX_SENHA">Senha</label>
                            <input type="text" asp-for="TX_SENHA" placeholder="Senha" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="OP_STATUS">Status</label>
                            @*<input type="text" asp-for="OP_STATUS" placeholder="Status" class="form-control">*@

                            <select asp-for="OP_STATUS" class="form-control" asp-items="@Html.GetEnumSelectList <eStatusUsuario>()"> </select>

                    </div>
                    <div class="panel-content">

                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#tab_direction-1" role="tab">Módulos</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tab_direction-2" role="tab">Grupos</a></li>
                        </ul>

                        <div class="tab-content p-3">

                            <div class="tab-pane fade show active" id="tab_direction-1" role="tabpanel">
                                <div class="container container-demo">
                                    <div class="row">
                                        <div class="col">
                                            <table id="table-origem-md" class="table table-bordered table-hover m-0">
                                                <thead class="thead-themed">
                                                    <tr>
                                                        <th>Módulos</th>
                                                        <th width="100px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var modulo in Model.Modulo.Where(o1 => !Model.UsuarioModulo.Any(o2 => o2.CD_MOD == o1.CD_MOD)))
                                                    {
                                                        <tr data-mod="@modulo.CD_MOD">
                                                            <td>@modulo.TX_DSC</td>
                                                            <td class="text-center"><i style="font-weight:bold;cursor:pointer" class="fal fa-plus-circle text-success bt-selecao-md"></i></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col">
                                            <table id="table-destino-md" class="table table-bordered table-hover m-0">
                                                <thead class="thead-themed">
                                                    <tr>
                                                        <th>Módulos Associados ao Usuário</th>
                                                        <th width="100px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var modulo in Model.Modulo.Where(o1 => Model.UsuarioModulo.Any(o2 => o2.CD_MOD == o1.CD_MOD)))
                                                    {
                                                        <tr data-mod="@modulo.CD_MOD">
                                                            <td>@modulo.TX_DSC</td>
                                                            <td class="text-center"><i style="font-weight:bold;cursor:pointer" class="fal fa-minus-circle text-danger bt-selecao-md"></i></td>
                                                        </tr>
                                                      }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tab_direction-2" role="tabpanel">
                                <div class="container container-demo">
                                    <div class="row">
                                        <div class="col">
                                            <table id="table-origem-grp" class="table table-bordered table-hover m-0">
                                                <thead class="thead-themed">
                                                    <tr>
                                                        <th>Grupos</th>
                                                        <th width="100px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var grupo in Model.Grupo.Where(o1 => !Model.UsuarioGrupo.Any(o2 => o2.CD_GRP == o1.CD_GRP)))
                                                    {
                                                        <tr data-grp="@grupo.CD_GRP">
                                                            <td>@grupo.TX_DSC</td>
                                                            <td class="text-center"><i style="font-weight:bold;cursor:pointer" class="fal fa-plus-circle text-success bt-selecao-grp"></i></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col">
                                            <table id="table-destino-grp" class="table table-bordered table-hover m-0">
                                                <thead class="thead-themed">
                                                    <tr>
                                                        <th>Grupos Associados ao Usuário</th>
                                                        <th width="100px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var grupo in Model.Grupo.Where(o1 => Model.UsuarioGrupo.Any(o2 => o2.CD_GRP == o1.CD_GRP)))
                                                    {
                                                        <tr data-grp="@grupo.CD_GRP">
                                                            <td>@grupo.TX_DSC</td>
                                                            <td class="text-center"><i style="font-weight:bold;cursor:pointer" class="fal fa-minus-circle text-danger bt-selecao-grp"></i></td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <button type="button" id="btnSalvar" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {

    <script src="~/js/TabelaUsuarioModulo.js"></script>
    <script src="~/js/TabelaUsuarioGrupo.js"></script>
    <script src="~/js/UsuarioCadastro.js"></script>
}
