@model P2E.Main.UI.Web.Models.SSO.Usuario.UsuarioListViewModel
@using  P2E.Shared.Extensions
@{
    ViewData["Title"] = "Lista de Usuários";
    ViewData["PageName"] = "usuario_lista";
    ViewData["Category1"] = "Usuário";

    //Alert info
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];
}

<div class="row">
    <div class="col-xl-12">


        @if (!string.IsNullOrEmpty(type))
        {
            <partial name="_DisplayMessagePartial" />
        }

        <div class="panel">
            <div class="panel-hdr">
                <div class="col-lg-5">
                    <h1>
                        Lista de Usuários
                    </h1>
                </div>
                <div class="col-lg-7 text-lg-right">
                    <a asp-action="Create" class="btn btn-primary float-right"><i class="fal fa-plus-circle"></i>&nbsp;&nbsp;Adicionar</a>
                </div>

            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form asp-action="/" method="get">
                        <input type="hidden" asp-for="DataPage.CurrentPage" />
                        <input type="hidden" asp-for="DataPage.Descending" />
                        <input type="hidden" asp-for="DataPage.PageSize" />

                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" asp-for="TX_NOME" class="form-control" placeholder="Nome" />
                            </div>

                            <div class="col-md-2">
                                <button class="btn btn-default" type="submit"><i class="fal fa-search"></i>&nbsp;&nbsp;Localizar</button>
                            </div>

                        </div><br />
                    </form>
                    <hr />
                    @if (Model.DataPage.Items.Any())
                    {
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover m-0">
                            <thead class="thead-themed">
                                <tr>
                                    <th width="100">#</th>
                                    <th>Nome</th>
                                    <th>Login</th>
                                    <th>Status</th>
                                    <th width="20"></th>
                                    <th width="20"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var usr in Model.DataPage.Items)
                    {
                                    <tr>
                                        <td>@usr.CD_USR</td>
                                        <td>@usr.TX_NOME</td>
                                        <td>@usr.TX_LOGIN</td>
                                        <td>@usr?.OP_STATUS.ToDescription()</td>
                                        <td class="text-center">
                                            <i data-id="@usr.CD_USR"
                                               data-controller="Usuario"
                                               data-action="Delete"
                                               data-body-message="Deseja excluir este Usuário?"
                                               style="font-weight:bold;cursor:pointer" class="delete fal fa-trash-alt text-danger">

                                            </i>
                                        </td>
                                        <td class="text-center"><a asp-action="Edit" asp-route-id="@usr.CD_USR"><i style="font-weight:bold;cursor:pointer" class="fal fa-edit text-success"></i></a></td>
                                    </tr>
                    }
                            </tbody>
                        </table>
                        <br />

                        <!-- pager -->
                        @if (Model.DataPage.Pages != null && Model.DataPage.Pages.Any())
                        {
                            <nav class="table-responsive">
                                <ul class="pagination justify-content-center d-flex flex-wrap">
                                    @if (Model.DataPage.CurrentPage > 1)
                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Model.DataPage.GetLinkPage($"tx_nome={""}", Model.DataPage.FirstPage)">Primeiro</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="@Model.DataPage.GetLinkPage($"tx_nome={""}", Model.DataPage.PriorPage)">Anterior</a>
                                        </li>
                    }

                                    @for (int i = 1; i <= Model.DataPage.TotalPages; i++)
                    {
                        var pg = Model.DataPage.Pages.First(p => p.PageNumber == i);

                                        <li class="page-item @(pg.PageNumber == Model.DataPage.CurrentPage ? "active" : "")">
                                            <a class="page-link" href="@Model.DataPage.GetLinkPage($"tx_nome={""}", pg.PageNumber)">@pg.PageNumber</a>
                                        </li>
                    }


                                    @if (Model.DataPage.CurrentPage < Model.DataPage.TotalPages)
                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Model.DataPage.GetLinkPage($"tx_nome={""}", Model.DataPage.NextPage)">Próximo</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="@Model.DataPage.GetLinkPage($"tx_nome={""}", Model.DataPage.LastPage)">Último</a>
                                        </li>
                    }
                                </ul>
                            </nav>
                    }
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>