@model P2E.Main.UI.Web.Models.SSO.Rotina.RotinaViewModel
@using P2E.Shared.Enum;
@{
    ViewData["Title"] = "Nova Rotina";
    ViewData["PageName"] = "rotina";
    ViewData["Category1"] = "Rotina";

    //Alert info
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];

    var mensagemConfirma = "Confirma salvar o registro?";
    var actionCancel = "CancelInsert";
}

<body onbeforeunload="return myFunction()">
    <div class="row">
        <div class="col-xl-12">

            @if (!string.IsNullOrEmpty(type))
            {
                <partial name="_DisplayMessagePartial" />
            }

            <div class="panel">
                <div class="panel-hdr">
                    @if (Model.CD_ROT > 0)
                    {
                        <h1>
                            Edição de Rotina
                        </h1>
                    }
                    else
                    {
                        <h1>
                            Cadastro de Rotina
                        </h1>
                    }
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <form id="form" asp-action="Save" method="post">

                            <div class="form-group mb-0">
                                <div class="row">
                                    <div class="col-8">
                                        <input type="hidden" asp-for="CD_ROT" />
                                        <div class="form-group">
                                            <label class="form-label" asp-for="TX_NOME">Nome</label>
                                            <input type="text" maxlength="40" asp-for="TX_NOME" placeholder="Nome" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="form-label" asp-for="Servicos">Serviço</label>
                                            <select asp-items="@(new SelectList(@Model.Servicos,"CD_SRV", "TXT_DEC"))" asp-for="CD_SRV" class="form-control" id="comboServico">
                                                <option disabled selected>- Selecione um Serviço -</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label" asp-for="TX_DSC">Descrição</label>
                                            <input type="text" maxlength="255" asp-for="TX_DSC" placeholder="Descrição" class="form-control">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="form-label">Menu</label>
                                            <select asp-for="@Model.TX_URL" class="form-control">

                                                <option selected value="Selecione" disabled>--Selecione---</option>
                                                <option value="/usuario">usuario</option>
                                                <option value="/rotina">rotina</option>
                                                <option value="/grupo">grupo</option>
                                                <option value="/parceiroNegocio">parceiro</option>
                                                <option value="/servico">servico</option>
                                                <option value="/detalhencm">detalhencm</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            </div>
                            <hr />
                            @*<div class="form-group mb-0">
                                    <div class="panel">
                                        <div class="panel-hdr bg-gray-100">
                                            <h3>Associação de Serviços a Rotina</h3>
                                        </div>
                                        <div class="panel-container show">
                                            <div class="panel-content">
                                                <div class="row">
                                                    <div class="col-lg-11">
                                                        <div class="form-group">
                                                            <label class="form-label">Serviços</label>
                                                            <select asp-items="@(new SelectList(@Model.Servicos,"CD_SRV", "TXT_DEC"))" class="form-control" id="comboServicox">
                                                                <option disabled selected>- Selecione um Serviço -</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-1">
                                                        <a href="javascript:void(0);" class="btn btn-success btn-lg btn-icon hover-effect-dot btn-add-rotina-servico">
                                                            <i class="fal fa-download"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                            @*<div class="form-group mb-0">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover m-0" id="tabela_rotina_servico">
                                            <thead class="thead-themed">
                                                <tr>
                                                    <th>Serviços</th>
                                                    <th width="20"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var rotina_servico in Model.RotinaServico)
                                                {
                                                    <tr data-cdsrv="@rotina_servico.CD_SRV">
                                                        <td>@rotina_servico.Servico.TXT_DEC</td>
                                                        <td class="text-center"><i style="font-weight:bold;cursor:pointer" class="fal fa-minus-circle text-danger btn-delete-srv"></i></td>
                                                    </tr>

                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>*@

                            <div class="form-group mb-0">
                                <div class="row">
                                    <div class="col-12">
                                        <br />

                                        @if (Model.CD_ROT > 0)
                                        {
                                            mensagemConfirma = "Confirma alteração do registro?";
                                        }
                                        <button data-body-message="@mensagemConfirma"
                                                id="btnSalvar"
                                                style="font-weight:normal;cursor:pointer" class="save btn btn-success">
                                            Salvar
                                        </button>


                                        @*      <button type="button" id="btnSalvar" class="btn btn-success">Salvar</button>*@

                                        @if (Model.CD_ROT > 0)
                                        {
                                            actionCancel = "CancelEdit";
                                        }

                                        <button data-controller="Rotina" data-id="@Model.CD_ROT"
                                                data-action="@actionCancel"
                                                data-body-message="Deseja cancelar as alterações?"
                                                style="font-weight:normal;cursor:pointer" class=" cancel btn btn-primary">
                                            Cancelar
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
           
            return "TESTE";
        }
    </script>

</body>
@section Scripts {
    <script src="~/js/Rotina/TabelaRotinaGrupoOperacao.js"></script>
    <script src="~/js/Rotina/RotinaGrupoOperacao.js"></script>
}
