@model P2E.Main.UI.Web.Models.SSO.Grupo.GrupoViewModel
@{
    ViewData["Title"] = "Cadastro";
    ViewData["PageName"] = "grupo_novo";
    ViewData["Category1"] = "Grupo";

    //Alert info
    var type = (string)TempData["_alert.type"];
    var title = (string)TempData["_alert.title"];
    var body = (string)TempData["_alert.body"];
}

<div class="row">
    <div class="col-xl-12">

        @if (!string.IsNullOrEmpty(type))
        {
            <partial name="_DisplayMessagePartial" />
        }

        <div class="panel">
            <div class="panel-hdr">
                @if (Model.CD_GRP > 0)
                {
                    <h1>
                        Edição de Grupos
                    </h1>
                }
                else
                {
                    <h1>
                        Cadastro de Grupos
                    </h1>
                }
            </div>
            <div class="panel-container show">
                <div class="panel-content">
                    <form id="form" asp-action="Save" method="post">
                        <input type="hidden" asp-for="CD_GRP" />
                        <div class="form-group">
                            <label class="form-label" asp-for="TX_DSC">Descrição</label>
                            <input type="text" maxlength="100" asp-for="TX_DSC" placeholder="Descrição" class="form-control">
                        </div>

                        <div class="form-group mb-0">
                            <div class="panel">
                                <div class="panel-hdr bg-gray-100">
                                    <h3>
                                        Associação de Rotinas ao Grupo
                                    </h3>
                                </div>
                                <div class="panel-container show">
                                    <div class="panel-content">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="form-group">
                                                    <label class="form-label">Serviço</label>
                                                    <select asp-items="@(new SelectList(@Model.Servicos,"CD_SRV", "TXT_DEC"))" class="form-control" id="comboServico">
                                                        <option disabled selected>--- Selecione um serviço ---</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-5">
                                                <div class="form-group">
                                                    <label class="form-label">Rotina</label>
                                                    <select class="form-control" id="comboRotina" disabled>
                                                        <option disabled selected>--- Selecione uma rotina ---</option>
                                                        @foreach (var rotina in Model.Rotinas)
                                                        {
                                                            <option data-cd_srv="@rotina.CD_SRV" value="@rotina.CD_ROT">@rotina.TX_NOME</option>
                                                        }
                                                    </select>
                                                    <p class="text-danger" id="rotina-selecao-validacao">

                                                    </p>
                                                </div>
                                            </div>

                                            <div class="col-1">
                                                <a href="javascript:void(0);" class="btn btn-success btn-lg btn-icon hover-effect-dot btn-add-rotina" id="btn-add-rotina">
                                                    <i class="fal fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group mb-0">
                            <div class="table-responsive">
                                <table id="tabela_grupo_rotina" class="table table-bordered table-hover m-0">
                                    <thead class="thead-themed">
                                        <tr>
                                            <th></th>
                                            <th colspan="@Model.Operacoes.Count" style="text-align:center">Permissões</th>
                                            <th></th>

                                        </tr>
                                        <tr>
                                            <th>Rotina</th>
                                            @foreach (var operacao in @Model.Operacoes)
                                            {
                                                <th class="text-center">@operacao.TX_DSC</th>
                                            }
                                            <th width="20"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var opRotina in Model.RotinaGrupoOperacao.GroupBy(o => o.CD_ROT).Select(o => o.First()).ToList())
                                        {
                                            <tr>
                                                <td>@Model.Rotinas.FirstOrDefault(o => o.CD_ROT == opRotina.CD_ROT).TX_NOME</td>
                                                @foreach (var operacao in Model.Operacoes)
                                                {
                                                    if (Model.RotinaGrupoOperacao.Any(o => o.CD_OPR == operacao.CD_OPR && o.CD_ROT == opRotina.CD_ROT))
                                                    {
                                                        <td class="rotina_selecionada text-center" data-cd_rot="@opRotina.CD_ROT" data-cd_opr="@operacao.CD_OPR"><input class="rotina_check" type="checkbox" checked /></td>
                                                    }
                                                    else
                                                    {
                                                        <td class="rotina_selecionada text-center" data-cd_rot="@opRotina.CD_ROT" data-cd_opr="@operacao.CD_OPR"><input class="rotina_check" type="checkbox" /></td>
                                                    }

                                                }

                                                <td><i style="font-weight:bold;cursor:pointer" class="excluir-rotina fal fa-minus-circle text-danger bt-selecao-md"></i></td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <p class="text-danger" id="rotina-validacao">
                            </p>
                        </div>
                        <br />
                        <button type="button" id="btnSalvar" class="btn btn-success">Salvar</button>
                        @*<button type="button" class="btn btn-primary" value="Cancel" onclick="history.back();">Cancelar</button>*@

                        <button data-controller="Grupo" data-id="@Model.CD_GRP"
                                data-action="Cancel"
                                data-body-message="Deseja cancelar as alterações?"
                                style="font-weight:normal;cursor:pointer" class=" delete btn btn-primary">
                            Cancelar
                        </button>

                        @if (Model.CD_GRP > 0)
                        {
                            <button data-id="@Model.CD_GRP"
                                    data-controller="Grupo"
                                    data-action="Delete"
                                    data-body-message="Deseja excluir este Grupo?"
                                    style="font-weight:normal;cursor:pointer" class="delete btn btn-danger">
                                Deletar
                            </button>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@foreach (var operacao in @Model.Operacoes)
{
    <input type="hidden" class="operacao_hidden" data-tx_dsc="@operacao.TX_DSC" data-cd_opr="@operacao.CD_OPR" />
}
@section Scripts {

    <script src="~/js/Grupo/Grupo.js"></script>
}